/*start variable*/

/*end variable*/
/*start global rules*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(./Img/v1069-009.jpg);
    height: fit-content;
}
/*end global rules*/

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #5C6164; */
}

/* header */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #D1CBB4; */
}
header {
    background-color: #9A8E76;
    position: fixed;
    width: 100%;
    z-index: 2;
}


a{
    text-decoration: none;
    color: inherit;
}

/* a:visited{
    color: inherit;
} */

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin-left: 10px;
    font-size: 20px;
}

nav button{
    background-color: #5C6164;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 130px;
    font-weight: 600;
    font-size: 18px;
}

nav img{
    width: 50px;
    height: 40px;
    margin-top: 10px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    width: 250px;
    font-weight: 600;
}

/* end-header */

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.home img{
    width: 550px;
}

.home h1{
    font-weight: 600;
    font-size: 30px;
}

.home p{
    font-size: 16px;
}

._1YEAR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.hexagonarea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 100px;
    height: 100px;
    margin: 5px 6px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: #9A8E76;
    cursor: pointer;
    transition: 0.5s;
}

.hexagon:hover{
    background: #5C6164;
    transform: scale(0.8);
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

/*contact section*/
.contacts h1{
    font-size: 30px;
}

.contacts img{
    height: 230px;
}

.contacts div div div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contacts div div div img{
    margin-top: 8px;
    margin-right: 5px;
    height: 20px;
}

.contacts div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts p{
    font-size: 15px;
}

.contacts p a{
    color: #9A8E76;
    font-size: 15px;
}
/*end contact section*/
.by{
    height: 50px;
    background-color: #5C6164;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-top: 7px;
    border-top-left-radius: 180%;
    border-top-right-radius: 180%;
}

.by a{
    color: #AAA495;
}

/*xsmall*/
@media (max-width: 768px){
    .humburger{
        position: absolute;
        right: 0;
        margin-right: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50px;
        cursor: pointer;
    }
    .humburger .line{
        background-color: black;
        color: black;
        width: 60px;
        height: 8px;
        border-radius: 15px;
    }
    .home img{
        display: none;
    }
    nav li{
        display: none;
    }
}
/*small*/
@media (min-width: 769px){
    .container{
        width: 750px;
    }
    .humburger{
        display: none;
    }
    .home .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }
    .home img{
        width: 350px;
    }
    .home div div{
        display: flex;
        flex-direction: column;
    }
    .hexagon{
        width: 120px;
        height: 120px;
    }
    .contacts .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contacts div div{
        align-items: flex-start;
        justify-content: center;
    }
}
/*medium*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }
    .home{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .home img{
        width: 350px;
    }
    .home div div{
        display: flex;
        flex-direction: column;
    }
    .hexagon{
        width: 150px;
        height: 150px;
    }
    .contacts{
        display: flex;
        flex-direction: row;
    }
}
/*large*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
    .home{
        display: flex;
        flex-direction: row;
    }
    .home img{
        width: 450px;
    }
    .hexagon{
        width: 170px;
        height: 170px;
    }
    .home div div{
        display: flex;
        flex-direction: column;
    }
    .contacts{
        display: flex;
        flex-direction: row;
    }
}